// HEADER //
.header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 60px;
  h1 {
    text-align: left;
    margin-bottom: 8px;
    color: var(--dark-green);
  }
  p {
    color: var(--dark-green);
  }
  form {
    margin: 0;
    width: 100%;
  }
}
.title {
  display: flex;
  flex-direction: column;
  input {
    padding: 0;
    caret-color: var(--green);
    padding: 10px 20px;
    width: 100%;
    &:first-child {
      text-align: left;
      margin-bottom: 8px;
      font-size: 60px;
      font-weight: 700;
    }
    &:last-child {
      font-size: 1em;
    }
  }
}

// PROJECT //
.element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
  position: relative;
  border-bottom: 2px solid transparent;
  padding-bottom: 12px;
  &:hover {
    .actions {
      display: flex;
    }
    border-bottom-color: var(--green);
  }
  * {
    color: var(--black);
  }
  &:has(.checkbox input:checked) label {
    text-decoration: line-through;
  }
  &:has(.spacer:not(.spacerReadOnly)):hover .spacer {
    transition: background-color 0.2s ease;
    background-color: var(--dark-green);
    border-radius: 4px;
  }
}
.readOnly {
  &:hover {
    border-bottom-color: transparent;
  }
}

.actions {
  display: none;
  margin-left: 20px;
  gap: 10px;
  align-items: center;
  form {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
    gap: 12px;
    width: auto;
    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      opacity: 1;
    }
    input {
      width: 60px;
      height: 26px;
      margin-bottom: 0px;
    }
    label {
      margin-bottom: 0px;
    }
  }
  button {
    font-size: 12px;
    svg {
      position: relative;
      top: 1px;
    }
    svg * {
      color: var(--white);
    }
  }
}

.loader {
  width: 100%;
  height: 15px;
  margin: 10px 0;
  border-radius: 4px;
  background: linear-gradient(
    90deg,
    var(--green) 25%,
    var(--dark-green) 50%,
    var(--green) 75%
  );
  background-size: 200% 100%;
  animation: loading 1s linear infinite;
}

@keyframes loading {
  from {
    background-position: 200% 0;
  }
  to {
    background-position: -200% 0;
  }
}

.titleElement {
  font-size: 32px;
  font-weight: 700;
  flex: 1;
  margin-bottom: 0px;
  &:global(.white) {
    background-color: var(--dark-green);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }
}

.subtitleElement {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 8px;
  flex: 1;
  margin-bottom: 0px;
  &:global(.white) {
    background-color: var(--dark-green);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }
}

.spacer {
  width: 100%;
  margin-bottom: 0px;
  padding-bottom: 16px;
  &--line {
    border-bottom: 2px solid var(--green);
  }
}

.checkbox {
  display: flex;
  align-items: center;
  min-height: 26px;

  & input[type="checkbox"] {
    margin-right: 12px;
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid var(--green);
    border-radius: 4px;
    background-color: transparent;
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:checked {
      background-color: var(--dark-green);
      border-color: transparent;
    }

    &:checked::after {
      content: "✔";
      color: var(--white);
      font-size: 16px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      border-color: var(--dark-green);
    }
  }

  div {
    font-size: 16px;
    font-weight: 500;
    transition: color 0.2s ease;
    user-select: none;
    &:global(.white) {
      background-color: var(--dark-green);
      padding: 5px 10px;
      border-radius: 4px;
    }

    &:hover {
      color: var(--dark-green);
    }
  }
}

.text {
  padding: 10px 32px;
  font-size: 16px;
  line-height: 1.5;
  border: none;
  border-radius: 4px;
  outline: none;
  resize: vertical;
  caret-color: var(--green);
  transition: border-color 0.2s ease, background-color 0.2s ease;
  background-color: rgba(32, 178, 170, 0.1);
  &:global(.white) {
    background-color: var(--dark-green);
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 4px;
  }
}

// ADD NEW ELEMENT //
.add {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

.openBtn,
.closeBtn {
  display: inline-block;
  &:hover {
    svg {
      transition: 0.2s;
      filter: drop-shadow(0 0 10px var(--golden));
    }
  }
  button {
    padding: 10px 20px;
  }
  svg {
    font-size: 30px;
  }
  h4 {
    font-family: var(--font-geist-sans);
    font-weight: 400;
  }
}

.closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  button {
    padding: 5px 10px;
    display: flex;
  }
  z-index: 2;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 1;
}

.formModal {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(#1a1a1a, 0.8);
}

.form {
  background-color: var(--dark-green);
  padding: 30px;
  border-radius: 8px;
  width: 400px;
  min-height: 310px;
  display: flex;
  flex-direction: column;
  z-index: 2;
  color: var(--white);
  gap: 0px;

  h3 {
    font-weight: 400;
    margin-bottom: 24px;
  }

  label {
    font-size: 16px;
    font-weight: 500;
    display: block;
    margin-bottom: 5px;
  }

  input,
  select {
    width: 100%;
    padding: 10px 20px 10px 10px;
    border-radius: 4px;
    border: 1px solid var(--dark-green);
    background-color: var(--white);
    color: var(--black);
    font-family: var(--font-geist-sans);
    font-size: 16px;
    margin-bottom: 24px;
    outline: none;
    &:focus {
      border-color: var(--golden);
      box-shadow: 0 0 5px var(--golden);
    }
  }
  select {
    cursor: pointer;
    appearance: none;
  }
  .selectWrapper {
    position: relative;
    &:after {
      content: "👇";
      position: absolute;
      right: 10px;
      top: 10px;
      pointer-events: none;
      color: var(--black);
    }
  }

  .spacerCheckbox {
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid var(--green);
    border-radius: 4px;
    background-color: var(--white);
    position: relative;
    cursor: pointer;
    transition: background-color 0.2s ease, border-color 0.2s ease;

    &:checked {
      background-color: var(--white);
      border-color: transparent;
    }

    &:checked::after {
      content: "✔";
      color: var(--black);
      font-size: 16px;
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover {
      border-color: var(--dark-green);
    }
  }
}
