.navigation {
  display: flex;
  flex-direction: column;
}

.top {
  background-color: var(--green);
  padding: 10px 20px;
}

.bottom {
  background-color: var(--dark-green);
  padding: 0px 20px;
  color: var(--white);
  font-family: var(--font-bungee);
  font-size: 12px;

  & a {
    font-size: 14px;
  }
}

.container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
  font-family: var(--font-bungee);

  a {
    display: flex;
    align-items: center;
    opacity: 0.8;
    padding: 5px 0;
    span {
      padding: 3px 6px;
      &:first-child {
        background: var(--dark-green);
        color: var(--white);
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-right: 1px solid var(--white);
      }
      &:last-child {
        background: var(--red);
        color: var(--white);
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
      }
    }
  }
  img {
    transition: 0.2s;
  }
  &:hover img {
    filter: drop-shadow(0 0 10px var(--golden));
  }
  &:hover a {
    opacity: 1;
  }
}

.email {
  transition: 0.2s;
  &:hover {
    text-shadow: var(--golden) 1px 0 10px;
  }
}

.flex {
  display: flex;
}

.item {
  list-style-type: none;
}

.github {
  font-family: var(--font-bungee);
  padding: 5px 20px;
  display: block;
}
