.section {
  padding: 40px 0px;

  h2 {
    margin-bottom: 24px;
  }
}

.wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px 15px;
}
